

.App{
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  align-items: center;
  background-image:url('assets/img/marble.jpg');
  height: 100vh;
  padding-left: 150px;
  padding-right: 150px;
}

