
.App-logo {
  height: 5vmin;
  pointer-events: none;
}
.logo-container{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image:url('./marble.jpg');
  height: 100vh;
}
.heading{
  display: flex;
  justify-content:flex-start;
  align-items: center;
  text-shadow: 2px 3px 5px rgba(0,0,0,0.2);
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(44,147,94);
}
.list{
  border: 1px solid rgba(116, 116, 116, 0.726);
  width: 600px;
  min-height: 800px;
  box-shadow: 0px 3px 15px rgba(2, 83, 233, 0.808);
  border-radius: 5px;
  background-image: url('./paper.jpg');
}
